<?js
var data = obj;
if (data.type && data.type.names) {?>
<dl>
  <dt>
    Type
  </dt>
  <dd>
    <?js= this.partial('type.tmpl', data.type.names) ?>
    <?js if (data.description) { ?>
    <div class="param-desc" style="margin-top:5px">
      <?js= description ?>
    </div>
    <?js } ?>
  </dd>
</dl>
<?js } ?>
